.generate {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
  text-align: center;
}
  
.generate h1 {
  font-size: 30px;
  color:#000000;
  margin-bottom: 30px;
}

.generate label {
  text-align: left;
  font-size: 20px;
  display: block;
}

.generate input {
  text-align: right;
  color:#000000;
  font-size: 15px;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 2px solid #282c34;
  background-color: #ddf7fa;
  box-sizing: border-box;
  display: block;
  margin-bottom: 15px;
}

.generate button {
  position: relative;
  background:#282c34;
  color: #fff;
  border: 0;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  bottom: 300px;
  font-size: 25px;
}

.generate button:hover {
  background-color: rgb(93, 93, 93);
}

.fuelquote {
  position: relative;
  top: 18px;
  left: 270px;
}

.fuelquote label {
  text-align: right;
}

.fuelquote input {
  position: relative;
  width: 50%;
  left: 200px;
}

.fuelquote .price {
  position: relative;
  top: 44px;
  color: #5a5a5a;
  background-color: #c2dadd;
}

.fuelquote .pricelabel {
  position: relative;
  top: 44px;
}

.fuelquote .cost {
  height: 50px;
  position: relative;
  top: 44px;
  font-size: 20px;
  color: #5a5a5a;
  background-color: #c2dadd;
}

.fuelquote .costlabel {
  position: relative;
  top: 44px;
  font-size: 30px;
}

.delAddress {
  position: relative;
  bottom: 375px;
  right: 300px;
}

.delAddress h2 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 10px;
}
.delAddress input{
  color: #5a5a5a;
  background-color: #c2dadd;
  text-align: left;
}

