body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}




*{
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(131, 157, 165);
}

li, a, i{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  text-decoration: none;
  background-color: transparent;
}

header{
  display:flex;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.cta{
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding-top: 250px;
}

.signup{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.title a{
  font-size: 50px;
}

.title, a{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:transparent;
  margin-left: 1rem;
  color: black;
}

.fa-github{
  color: white;
  transition: all 0.25s ease 0s;
}

.fa-github:hover{
  color: black;
}

.options{
  list-style: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.options li {
  display: inline-block;
  padding: 0px 15px 0px 0px;
  border:none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.308);
}

.options li:last-child{
  background-color: transparent;
}

.options li a{
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease 0s;
  font-size: 35px;
}

.options li a:hover {
  color: black;
}


.signup-boxes li, label{
  list-style: none;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputbox{
  font-size: 15px;
  block-size: 35px;
  border: none;
  background-color: rgba(255, 255, 255, 0.308);
  width:225px;
}

.signup-text a{
  font-size: 20px;
}

.signup-text a{
  color: purple;
}

.signup-text a:hover{
  color: blue;
}




